
form {
    width: 35em;
    margin: auto;
    margin-top: 2em;
    padding: 2em;
    
    box-shadow: 0px 0px 50px 0px gray;
    border-radius: 2em; 


    h2{
        text-align: center;
    }

    #img-lbl{
        padding: 1em;
        border-radius: 0.3em;
        display: inline-block;
        background-color: var(--primary-color);
        color: var(--primary-color-text);
    }

    #submit-btn {
        width: 100%;
        display: block;
        margin: auto;
        font-size: 1.2em;
        padding: 0.7em;

        color: var(--primary-color-text);
        background-color: var(--primary-color);
        border-style: none;
        border-radius: 0.3em;
    }

}