

<div>
    <app-search [value]="searchKey" (searchEvent)="onSearchEvent($event)"></app-search>
    <div class="container">
        <p-card class="course-card" *ngFor="let course of coursesList">
            <ng-template pTemplate="header">
                <img src="{{course.imageUrl}}"/>
            </ng-template>
            <ng-template pTemplate="title">
                <div class="card-title">
                    {{course.title}}
                </div>
            </ng-template>
            <p>
                {{course.desc}}
            </p>
            <ng-template pTemplate="footer">
                <p-button pRipple class="p-button-success">{{course.price}} $</p-button>
            </ng-template>
            
        </p-card>
    </div>
    <div class="flex-auto">
        <p-paginator 
            (onPageChange)="onPageChange($event)" 
            [first]="(currentPage-1)* pageSize"
            [rows]="pageSize" 
            [totalRecords]="11">
        </p-paginator>
    </div>
</div>


